@import "tailwindcss";


@theme {
  --color-primary: #2EACE1;
  --color-background: #F3F6FD;
  --color-gray: #575454;
}


@custom-variant dark (&:where(.dark, .dark *));

button {
  cursor: pointer;
}